// * {
//     padding: 0px;
//     margin: 0px;
// }

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    margin-left: 0px;
}
h1 {
    margin-left: 20px;
}
.firstTable {
    margin-left: 20px;

    .tdForex {
        display: block;
        width: 800px;
    }
}

.tablePictures {
    width: 800px;
    height: 270px;
    background-color: #186247dd;
    margin-top: 25px;

    .tdTextUpPic {
        display: block;
        width: 500px;
        height: 45px;
        text-align: center;
        margin-left: 28%;
        color: #fff;
        margin-top: 25px;
    }

    .tdImg:nth-child(1) {
        padding-left: 40px;
    }
    .tdImg:nth-child(2) {
        padding-right: 40px;
    }

    .img1:hover {
        transform: scale(1.2, 1.2);
    }
}

.divAddres {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 800px;
    color: #666060bb;
    text-align: center;
}

hr {
    width: 800px;
    margin-left: 0px;
}


